<!doctype html>
<html>
  <head>
    <title>Giph It Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
      .gif {
        background: url(<%=@image%>) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div class="gif">
        <div class="row"></div>
        <div class="row comments">
          <div class="col-md-1"></div>
          <div class="col-md-2" id="6"></div>
          <div class="col-md-2" id="7"></div>
          <div class="col-md-2" id="8"></div>
          <div class="col-md-2" id="9"></div>
          <div class="col-md-2" id="10"></div>
          <div class="col-md-1"></div>
        </div>
        <div class="row comments">
          <div class="col-md-1"></div>
          <div class="col-md-2" id="11"></div>
          <div class="col-md-6">
            <h1><%= @keyword || "yo" %></h1>
          </div>
          <div class="col-md-2" id="12"></div>
          <div class="col-md-1"></div>
        </div>
        <div class="row comments">
          <div class="col-md-1"></div>
          <div class="col-md-2" id="13"></div>
          <div class="col-md-6"></div>
          <div class="col-md-2" id="14"></div>
          <div class="col-md-1"></div>
        </div>
        <div class="row comments">
          <div class="col-md-1"></div>
          <div class="col-md-2" id="15"></div>
          <div class="col-md-2" id="16"></div>
          <div class="col-md-2" id="17"></div>
          <div class="col-md-2" id="18"></div>
          <div class="col-md-2" id="19"></div>
          <div class="col-md-1"></div>
          <iframe title="deezer-widget" src="https://widget.deezer.com/widget/light/track/<%= @track_id %>" autoplay="true" width="300" height="150" frameborder="0" tracklist=false allowtransparency="true" allow="encrypted-media; clipboard-write"></iframe>
        </div>
        <!-- <center><div id="comments"></div></center> -->
    </div>
  </body>
</html>
