<!doctype html>
<html>
  <head>
    <title>Psychopass</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
      .gif { 
        background: url(<%=@image%>) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
  </head>
  <body> 

    <div class="gif">
        <center><h1><%= @tag || "yo" %></h1></center>
        <center><div id="comments"></div></center>
    </div>

    <script src="//connect.soundcloud.com/sdk.js"></script>
    <script>
      SC.initialize({
        client_id: '3f73e8bd9c4e62a632fc640226c5d92e'
      });

      var keyword = "<%= @tag %>";

      SC.get('/tracks', { q: keyword }, function(tracks) {
        var number = Math.floor(Math.random() * 50);
        var track_id = tracks[number].id;
        
        SC.stream("/tracks/"+track_id, {
          autoPlay: true,
          ontimedcomments: function(comments){
            var comment_stream = comments[0].body;
            console.log(comment_stream);
            $("#comments").prepend("<p>"+comment_stream+"</p>");
          }
        });
      });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </body>
</html>