@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

h1 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #2BC8FC;
  font-size: 96px;
  margin-bottom: -10px;
  text-align: center;
}
.comments {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  color: #2BC8FC;
  overflow: hidden;
}
p {
  padding: 15px;
}
.gif { 
  width: 105%;
  height: 900px;
  margin-top: -65px;
  margin-left: -10px;
}
.row {
  height: 150px;
}
